//customization here
$primary: #dd0000;

input[type=checkbox]{
    accent-color:  #dd0000; 
    }

* {
    font-family: 'Lilita One', cursive;
}

@media (max-width: 850px) {
    .todo-view {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@import '~bootstrap/scss/bootstrap.scss';
