$primary: #dd0000;

// set font
* {
    font-family: 'Lilita One', cursive;
    font-size: large;
}

// navbar brand font 
@media (max-width: 500px) {
    .brand {
        font-size: 22px;
    }
}

@media (min-width: 500px) and (max-width: 850px) {
    .brand {
        font-size: 30px;
    }
}

@media (min-width: 850px) and (max-width: 2000px) {
    .brand {
        font-size: 40px;
    }
}

// todo and activity view displays
@media (max-width: 850px) {
    .todo-view {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .activity-view {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@import '~bootstrap/scss/bootstrap.scss';
